
*.v2
*.v2
UniversidadSophosApi/.vs/UniversidadSophosApi/v16/.suo
UniversidadSophosApi/UniversidadSophosApi/obj/Debug/netcoreapp3.1/UniversidadSophosApi.csproj.AssemblyReference.cache
UniversidadSophosApi/UniversidadSophosApi/UniversidadSophosApi.csproj
UniversidadSophosApi/UniversidadSophosApi/obj/project.nuget.cache
UniversidadSophosApi/UniversidadSophosApi/obj/project.assets.json
UniversidadSophosApi/UniversidadSophosApi/obj/Debug/netcoreapp3.1/UniversidadSophosApi.pdb
UniversidadSophosApi/UniversidadSophosApi/obj/Debug/netcoreapp3.1/UniversidadSophosApi.dll
UniversidadSophosApi/UniversidadSophosApi/obj/Debug/netcoreapp3.1/UniversidadSophosApi.csproj.FileListAbsolute.txt
UniversidadSophosApi/UniversidadSophosApi/Data/Docentes.cs
UniversidadSophosApi/UniversidadSophosApi/obj/Debug/netcoreapp3.1/UniversidadSophosApi.assets.cache
UniversidadSophosApi/UniversidadSophosApi/bin/Debug/netcoreapp3.1/UniversidadSophosApi.pdb
UniversidadSophosApi/UniversidadSophosApi/bin/Debug/netcoreapp3.1/UniversidadSophosApi.dll
UniversidadSophosApi/.vs/UniversidadSophosApi/v16/.suo
UniversidadSophosApi/.vs/UniversidadSophosApi/DesignTimeBuild/.dtbcache.v2
