Makefile.in
*.userprefs
*.usertasks
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.tar.gz
tarballs/
test-results/

# Mac bundle stuff
*.dmg
*.app

# content below from: https://github.com/github/gitignore/blob/master/Global/macOS.gitignore
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# content below from: https://github.com/github/gitignore/blob/master/Global/Windows.gitignore
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# JetBrains Rider
.idea/
*.sln.iml

##
## Visual Studio Code
##
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

*.v2
UniversidadSophosApi/.vs/UniversidadSophosApi/v16/.suo
UniversidadSophosApi/UniversidadSophosApi/obj/Debug/netcoreapp3.1/UniversidadSophosApi.csproj.AssemblyReference.cache
UniversidadSophosApi/UniversidadSophosApi/UniversidadSophosApi.csproj
UniversidadSophosApi/UniversidadSophosApi/obj/project.nuget.cache
UniversidadSophosApi/UniversidadSophosApi/obj/project.assets.json
UniversidadSophosApi/UniversidadSophosApi/obj/Debug/netcoreapp3.1/UniversidadSophosApi.pdb
UniversidadSophosApi/UniversidadSophosApi/obj/Debug/netcoreapp3.1/UniversidadSophosApi.dll
UniversidadSophosApi/UniversidadSophosApi/obj/Debug/netcoreapp3.1/UniversidadSophosApi.csproj.FileListAbsolute.txt
UniversidadSophosApi/UniversidadSophosApi/Data/Docentes.cs
UniversidadSophosApi/UniversidadSophosApi/obj/Debug/netcoreapp3.1/UniversidadSophosApi.assets.cache
UniversidadSophosApi/UniversidadSophosApi/bin/Debug/netcoreapp3.1/UniversidadSophosApi.pdb
UniversidadSophosApi/UniversidadSophosApi/bin/Debug/netcoreapp3.1/UniversidadSophosApi.dll
UniversidadSophosApi/.vs/UniversidadSophosApi/v16/.suo
UniversidadSophosApi/.vs/UniversidadSophosApi/DesignTimeBuild/.dtbcache.v2
UniversidadSophosApi/UniversidadSophosApi/obj/Debug/netcoreapp3.1/UniversidadSophosApi.csproj.FileListAbsolute.txt
UniversidadSophosApi/UniversidadSophosApi/obj/project.assets.json
UniversidadSophosApi/UniversidadSophosApi/obj/project.nuget.cache
UniversidadSophosApi/UniversidadSophosApi/obj/Debug/netcoreapp3.1/UniversidadSophosApi.csproj.FileListAbsolute.txt
UniversidadSophosApi/UniversidadSophosApi/UniversidadSophosApi.csproj
UniversidadSophosApi/UniversidadSophosApi/obj/project.nuget.cache
UniversidadSophosApi/UniversidadSophosApi/obj/project.assets.json
UniversidadSophosApi/UniversidadSophosApi/obj/Debug/netcoreapp3.1/UniversidadSophosApi.csproj.FileListAbsolute.txt
