.title-form{
    margin: 60px 16px 16px;
    text-align: center;
}

.form{
    
    justify-content:space-around;
    margin: 8px auto;
    max-width: 70%;
    padding: 12px;
    border-radius: 15px;
    border: solid #323232;
    background-color: aliceblue;
    padding: 8px;
}

.input-form{
    display: flex;
    flex-direction: column;
}